@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

 *{
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
 }

 body{
   background-color: #f5f6fa;
 }
 
 .app__header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px; 
   
 }
 .app__stats{
  display: flex;
  justify-content: space-between;
 }
 .app{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding-top: 20px;
 }
 .app__left{
   flex: 0.9;
 }
 @media (max-width : 990px){
   .app{
     flex-direction: column;
   }
 }