.table{
    margin-top: 20px;
    overflow-y: scroll;
    height: 40vh;
}
.table tr:nth-of-type(odd){
    background-color: #f5f2f8;
}
.table tr{
    display: flex;
    justify-content: space-between;

}
.table td{
    padding: 0.5rem;

}
.table__cases{
    font-weight: 600;
}